.previous-episodes-text {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  color: goldenrod;
}
.previous-episodes {
  width: 50%;
  height: 30vh;
  border-top: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  .previous-episodes,
  .previous-episodes-text {
    width: 95%;
  }

  .previous-episodes-text {
    font-size: 25px;
    font-weight: normal;
  }
}
