.show-result-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  padding-bottom: 2%;
}

.add-to-watchlist:focus,
.simillar-shows:focus,
.watch-trailer:focus {
  outline: none;
}
.add-to-watchlist,
.simillar-shows,
.watch-trailer {
  width: 150px;
  padding: 5px;
  font-size: 16px;
}

.add-to-watchlist {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.simillar-shows {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.watch-trailer {
  border-radius: 0;
}

.search-result-poster {
  display: inline-flex;
  width: 300px;
  padding: 10px;
}

.search-result-poster > img {
  max-width: 100%;
}
