.season-episodes-text {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  color: goldenrod;
  border-bottom: 1px solid grey;
}
.season-episodes {
  width: 50%;
  /* height: 30vh; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.season-episodes-button {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: goldenrod;
  cursor: pointer;
}

.season-episodes-button > span {
  font-size: 20px;
  font-weight: normal;
}

.season-episodes a {
  text-decoration: none;
  color: grey;
}

.season-episodes a:hover {
  color: white;
}
