.episode-details {
  display: inline-block;
  width: 93%;
  font-size: 25px;
}

.episode-airdate {
  display: inline-flex;
}
.episode-name {
  display: inline-flex;
  margin-left: 50px;
}
.episode-se {
  display: inline-flex;
  margin-left: 5px;
}

.episode-checkbox {
  display: inline-block;
  width: 10%;
}
.episode-watched {
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .episode-details {
    font-size: 18px;
  }
  .episode-name {
    margin-left: 25px;
  }
}
