.watchlist-items {
  display: flex;
  flex-flow: wrap;
  margin-top: 150px;
  justify-content: center;
  width: 60%;
  /* border: 1px solid white; */
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .watchlist-items {
    width: 90%;
  }
}
