.seasons-text {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  color: goldenrod;
  border-bottom: 1px solid grey;
}
.seasons {
  width: 50%;
  /* height: 30vh; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.seasons-button {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: goldenrod;
  cursor: pointer;
}

.seasons-button > span {
  font-size: 20px;
  font-weight: normal;
}

.seasons a {
  text-decoration: none;
  color: grey;
}

.seasons a:hover {
  color: white;
}

@media only screen and (max-width: 600px) {
  .seasons-text,
  .seasons,
  .seasons-button {
    width: 90%;
  }

  .seasons-text {
    font-size: 25px;
    font-weight: normal;
  }

  .seasons-button {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
