.search-bar {
  width: 30%;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.search-bar > input {
  width: 100%;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  padding-left: 10px;
}
.search-bar > input:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .search-bar {
    width: 80%;
    margin-top: 100px;
  }
}
