.watchlist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 230px;
  height: 360px;
  padding-top: 10px;
}

.watchlist-item-poster {
  width: 90%;
  height: 90%;
}
.watchlist-item img {
  max-width: 100%;
  height: 100%;
}

.watchlist-item-button {
  margin-top: 2px;
  font-size: 16px;
  width: 90%;
  padding: 1px;
  color: goldenrod;
  background-color: #111;
}

.watchlist-item-button:focus {
  outline: none;
}
